<div class="about">
  <div class="about-in">
    <div class="title-origin">
      <h2 class="back-image">Uni＊Channとは</h2>
    </div>

    <div class="title-ex-box">
      <div class="title-ex">
        <h3>タイトルの由来</h3>
      </div>
      <div class="title-ex-content">
        <p>まず「Uni」は海の幸であるウニです。わたしの地元の名産です。</p>
        <p>次に英語で「Unite」という単語があります。もうお気づきでしょう。日本語で「団結する」「一緒にする」ということです。</p>
        <p>その２つを掛け合わせたチャンネルの誕生です。</p>
        <p>育った街への敬意と誇り、そしてその街の真の団結力や絆をテーマにしたいという思いから命名致しました。</p>
        <p>ウニチャンをシンボルに絆を深めていきましょう。</p>
      </div>
    </div>
    
    <div class="title-ex-box">
      <div class="title-ex">
        <h3>Link to you</h3>
      </div>
      <div class="title-ex-content">
        <p>これはあなたの街の掲示板です。</p>
        <p>いつどこからでもあなたの住む街の情報にアクセスできる頼れる掲示板を目指しています。</p>
        <p>好きなこと、大事なこと、なんでも良い。自信を持って発信しましょう。</p>
        <p>あなたとあなたの住む街と人をつなぐことができ、その活動を世界中に見てもらいましょう。わたしたちの力で。</p>
        <p>きっと、あなたはこの街と人がもっと好きになります。</p>
      </div>
    </div>

    <div class="title-ex-box">
      <div class="title-ex">
        <h3>使い方</h3>
      </div>
      <div class="howto">
        <div class="howto-post">
          <div class="howto-title">
            <h4>見つける</h4>
          </div>
          <div class="howto-img">
            <%= image_tag '虫眼鏡のアイコン (1).png' , size: '100x100' %>
          </div>
          <div class="howto-content">
            <p>お好みのイベントを見つけたらイベントをクリック。
            イベントについて不明点があればコメント機能を活用して質問してみるのも良いでしょう。
            気に入ったら参加登録をしましょう。
            </p>
          </div>
        </div>

        <div class="howto-post">
          <div class="howto-title">
            <h4>投稿する</h4>
          </div>
          <div class="howto-img">
            <%= image_tag 'えんぴつ付きのノートアイコン.png' , size: '100x100' %>
          </div>
          <div class="howto-content">
            <p>
            イベントを投稿してみましょう。「イベントを投稿」からイベントの作成が可能です。
            ホストは参加者一覧を表示することができます。
            必要であればcsvファイルにも出力できるのでリスト管理が楽々です。
            </p>
          </div>
        </div>

        <div class="howto-post">
          <div class="howto-title">
            <h4>体験する</h4>
          </div>
          <div class="howto-img">
            <%= image_tag 'チアリーダーのピクトグラム.png' , size: '100x100' %>
          </div>
          <div class="howto-content">
            <p>
            登録したイベントを存分に楽しみましょう。
            体験後はイベントの詳細ページに感想をコメントして盛り上げていきましょう。
            </p>
          </div>
        </div>
      </div>
  </div>
</div>