<div class="about_me_all">
  <div class="left_contents">
    <div class="me_title">
      <div>
        <h1>About Me</h1>
      </div>
    </div>
    <div class="me_overview">
      <div class="me_overview_main">
      </div>
    </div>
    <div class="me_link">
      <div class="me_link_main">
        <div class="me_link_child">
        </div>
        <div class="me_link_child">
        </div>
        <div class="me_link_child">
        </div>
      </div>
    </div>
    <div class="me_signature">
      <img src="uni.png">
    </div>
  </div>

  <div class="right_contents" style="background_image:url(<%= asset_path "DSC00089.jpg" %>)">
  </div>
</div>


