
<div class = "image-box" data-index = "index">
  <img src ="URL" class = "image-size">
    <div class = "change-box-edit-delete">
    <div class = "change-box" id = event-image-edit-${imageElementNum } data-index="${imageElementNum}" >編集</div>
    <div class = "change-box" id = event-image-delete-${imageElementNum } data-index="${imageElementNum}" >削除</div>
  </div> 
</div> 