_flash.css
.notice {
  color: white;
  background-color: blue;
  position: fixed;
  top: 82px;
  z-index: 100;
  opacity: 0.9;
}
.alert {
  color: white;
  background-color: red;
  position: fixed;
  top: 82px;
  z-index: 100;
  opacity: 0.9;
}