.about {
  color: rgb(75, 72, 72);
  display: flex;
  justify-content: center;
}

.about-in {
  
}

.title-main {
  display: flex;
  justify-content: center;
}

.title-origin {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('IMG_0919.jpeg');
  background-repeat:no-repeat;
  background-position:23% 40%;
  
}

.title-ex-box {
  padding: 30px 50px;
}

.title-ex-box h3 {
  display: inline-block;
  border-bottom: solid 5px rgb(248, 181, 80);
}

.title-ex {
  
  
}

.title-ex-content {
  

}

.howto-h2 {
  display: flex;
  justify-content: center;
}

.howto {
  display: flex;
  
}

.howto-post {
  margin-right: 60px;
  width: 270px;

}

.howto-title {
  display: flex;
  justify-content: center;
}

.howto-img {
  display: flex;
  justify-content: center;
}

.howto-content {
  font-size: 15px;
}
