.about_me_all {
  width: 100vw;
  display: flex;
}

.left_contents {
  width: 60vw;
  
}

.me_title {
  height: 15vh;
  // background-color: rgb(160, 158, 158);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.me_overview {
  // background-color: rgb(185, 184, 184);
  height: 35vh;
  display: flex;
  justify-content: center;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-family: monospace;
  line-height: 1.7em;
}

.me_overview_main {
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  width: 50vw;
  height: 35vh;
  padding: 35px 50px;
  overflow: scroll;
}

.me_overview_list {
  list-style: none;
}

.me_link {
  // background-color: rgb(214, 214, 214);
  height: 30vh;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me_link_main {
  width: 25vw;
}

.me_link_child {
  width: 20vw;
  height: 8vh;
  display: flex;
  justify-content: flex-start;
  align-items: center
}

.link_list {
  list-style: none;
}

.link_image {
  width: 30px;
  height: 30px;
}

.link_url {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me_signature {
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2% 5%;
}

.me_signature_size {
  width: 220px;
  height: 60px;
}


.right_contents {
  width: 40vw;
  height: 100vh;
  background-size: cover;
  background-image: image-url('DSC00089.jpg');
  background-position: 52% 50%;
}
