.form-header-text {
  
}

.form-main {
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
  margin-bottom: 70px;
  
}

.form-edit {
  width: 65vw;
}

.select-box {
  margin-top: 7px;
  margin-left: 10px;
  border: solid 1px;
  border-color: rgb(189, 181, 181);
}

.form-1 {
  margin: 15px;
}

.form-1 p {
  font-size: 12px;
  margin-left: 10px;
}

.form-item {
  
}

.form-file-field {
  margin-top: 7px;
  margin-left: 10px;
}

.form-text {
  background-color: white;
  margin-top: 7px;
  margin-left: 10px;
  width: 50vw;
  height: 29px;
  border: solid 1px;
  border-color: rgb(189, 181, 181);
  
}

// イベント,編集を投稿するボタン---------------
.form-edit-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.7;
  background-color: linear-gradient(#dd5404, #f19d7763);
  position: fixed;
  bottom: 320px;
  right: 40px;
  z-index: 30;
}

.form-edit-text {
  color: #000000;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 5px;
}

.form-edit-icon {
  width: 60%;
  height: 60%;
  
}

.form-submit {
  margin-left: 10px;
}