// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: rgb(255, 255, 255);
  position: relative;
  height: 100vh;
  color: rgb(75, 72, 72);
  letter-spacing: 0.1em
}

a {
  text-decoration: none;
  color: inherit;
}

// ヘッダー----------------------------
.header {
  width: 98vw;
  height: 87px;
  text-decoration: none;
  color: rgb(75, 72, 72);
  background-color: rgb(248, 181, 80);
  border-radius: 3%/50%;
  position: fixed;
  z-index: 10;
  opacity: 0.9;
  
}

.header-p {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 20px;
  
}

.header-2 {
  padding: 6px;
}

.header-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.user-img {
  width:60px;
  height:60px;
  border-radius: 50%;
  background-color: rgba(248, 253, 171, 0.973);
}

.login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.login li {
  padding-right: 30px;
}

// イベント一覧表示------------------------

.event-p {
  margin: 60px 0px 30px;
  top: 300px;
  background-color: rgb(255, 255, 255);
  position: absolute;
}

.event-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // position: absolute;
  
}

.list {
  color: rgb(75, 72, 72);
  width: 300px;
  height: 450px;
  list-style: none;
  margin: 10px;
}

.event-name {
  font-size: 16px;
}

.event-img-content {
  position: relative;
}

.event-img-index {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10%;
}

.event-ex {
  font-size: 15px;
  margin: 5px 0px;
}

.event-date {
  font-size: 12px;
}

footer {
  width: 100vw;
  height: 5vh;
  opacity: 0.9;
  padding: 5px;
  color: #ffffff;
  background-color: rgb(17, 1, 37);
  position: fixed;
  bottom: 0;

}

footer p {
  text-align: center;
  font-size: 12px;
}

// イベント投稿のボタン--------
.event-btn {
  width: 120px;
  text-align: center;
  border-radius: 50%;
  bottom: 100px;
  opacity: 0.7;
  right: 40px;
  position: fixed;
  padding: 15px;
  z-index: 30;
  // background-color: rgb(221, 84, 4);
  background: linear-gradient(#dd5404, #f19d7763);
}

.event-btn-text {
  color: #000000;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 5px;
}

.event-btn-icon {
  width: 60%;
  height: 60%;
}

// showページ------------------------

.show {
  list-style: none;
}

.show-2 {
  color: rgb(75, 72, 72);
  display: flex;
  justify-content: center;
}

.show-3 {
  position: absolute;
  top: 100px;
  margin-bottom: 100px;
}

.show-img {
  width: 640px;
  height:480px;
}

.detail-table {
  font-size: 15px;
}

.join-list {
  list-style: none;
}

.ranking {
  width: 80vw;
  height: 20vh;
  margin: 5vh;
}


.comment-main {
  margin-top: 50px;
  width: 50vw;
}

.post {
  display: flex;
  margin: 10px 5px 5px 10px;
}

.post-content-img {
  
}

.post-side {
  margin-left: 10px;
  
}

.post-content-username {
  font-size: 12px;
}

.post-content-txt {
  padding-left: 5px;
}

.post-date {
  font-size: 10px;
  padding-left: 5px;
}

// コメントフォーム--------------------------
.post-comment-form {
  margin-top: 10px;
  display: flex;
}

.message {
  background-color: white;
  width: 40vw;
  height: 29px;
  border: solid 1px;
  border-color: rgb(189, 181, 181);
}

.comment-btn {
  background-color: rgb(248, 181, 80);
  font-size: 16px;
  color: white;
  padding: 0 20px;
  width: 80px;
  height: 35px;
  border: 0;

}

.join-entry {
  margin-top: 10px;
}

.join-list {
  display: flex;
  justify-content: left;
  align-items: center;
  
}

.join-edit-btn {

}

.event-destroy-btn {

}


// イベント参加ボタン----------------------
.join-btn {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  bottom: 320px;
  opacity: 0.7;
  right: 40px;
  position: fixed;
  padding: 15px;
  z-index: 30;
  // background-color: #dd5404;
  background: linear-gradient(#dd5404, #f19d7763);
}

.join-btn-icon {
  width: 60%;
  height: 60%;
}

.join-btn-text {
  color: #000000;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 5px;
}


// イベント編集ボタン--------------------------
.edit-btn {
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  bottom: 480px;
  opacity: 0.7;
  right: 40px;
  position: fixed;
  padding: 15px;
  z-index: 30;
  // background-color: #dd5404;
  background: linear-gradient(#dd5404, #f19d7763);
}

.edit-btn-text {
  color: #000000;
  display: block;
  font-size: 20px;
  text-decoration: none;
}

.edit-icon {
  width: 60%;
  height: 60%;
}

// 参加者一覧ボタン------------------------
.join-list-btn {
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  bottom: 370px;
  opacity: 0.7;
  right: 40px;
  position: fixed;
  padding: 15px;
  z-index: 30;
  // background-color: #dd5404;
  background: linear-gradient(#dd5404, #f19d7763);
}

.join-list-text {
  color: #000000;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 0px;
}

.join-list-icon {
  width: 60%;
  height: 60%;
}

// イベント削除ボタン------------------------
.event-destroy-btn {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  bottom: 290px;
  opacity: 0.7;
  right: 55px;
  position: fixed;
  padding: 15px;
  z-index: 30;
  // background-color: #dd5404;
  // background: linear-gradient(#4941b9, #9892d363);
}

.event-destroy-icon {
  width: 110%;
  height: 110%;
}

.event-destroy-text {
  
}






.event-table {

}

.event-item {

}

.event-value {

}

.item-img {
  width: 480px;
  height: 320px;
  object-fit: cover;
  
}

