// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  width: 100vw;
  height: 30vh;
}

.header-1 {
  display: flex;
  justify-content: space-between;
}

.login {
  display:flex;
  list-style: none;
}

.login li {
  padding-right: 30px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.list {
  list-style: none;
  margin: 10px;
}

.item-img-content {
  position: relative;
}

.item-img-index {
  width: 360px;
  height: 320px;
  object-fit: cover;
}

.item-img {
  width: 480px;
  height: 320px;
  object-fit: cover;
}

.user-img {
  width:60px;
  height:60px;
  border-radius: 50%;
  background-color: rgba(248, 253, 171, 0.973);
}

.event-btn {
  width: 120px;

  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.event-btn-text {
  color: #8292eef8;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.event-btn-icon {
  width: 60%;
  height: 60%;
}


footer {
  margin: 30px auto;
  padding: 10px;
  color: #D8D8D8;
}

footer p {
  text-align: center;
}

.show {
  list-style: none;
}

.show-img {
  width: 480px;
  height:320px;
}

.join-list {
  list-style: none;
}

.ranking {
  width: 80vw;
  height: 20vh;
  margin: 5vh;
}

.post {
  display: flex;
  margin: 10px 5px 5px 10px;
}

.post-content-img {
  
}

.post-side {
  margin-left: 10px;
  
}

.post-content-username {
  font-size: 12px;
}

.post-content-txt {
  padding-left: 5px;
}

.post-date {
  font-size: 10px;
  padding-left: 5px;
}

.post-comment-form {
  margin-top: 10px;
  background-color: white;
  display: flex;
}

.message {
  background-color: white;
  width: 30vw;
  height: 30px;
  border: 1;
}

.comment-btn {
  background-color: #38AEF0;
  font-size: 16px;
  color: white;
  padding: 0 20px;
  width: 80px;
  height: 30px;
  border: 0;
  margin-left: 10px;
}

.join-entry {
  margin-top: 10px;
}

.join-edit-btn {

}

.event-destroy-btn {

}

.join-btn {

}

.event-table {

}

.event-item {

}

.event-value {

}