// Place all the styles related to the joins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// cdvボタン----------------------------

.joins-csv-btn {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  bottom: 320px;
  opacity: 0.7;
  right: 40px;
  position: fixed;
  padding: 15px;
  z-index: 30;
  // background-color: #dd5404;
  background: linear-gradient(#dd5404, #f19d7763);
}

.joins-csv-icon {
  width: 60%;
  height: 60%;
}

.joins-csv-text {
  color: #000000;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 5px;
}

// 一覧表-----------------------------------
.detail-table {
  border-collapse: collapse;
  border-color: rgb(75, 72, 72);
  

}

.detail-table td {
  
}

.detail-item {
  padding: 5px 10px;
  background-color: rgb(211, 210, 210);
}

.detail-value {
  padding: 5px 15px;
}

