
select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}

.search-bar {
  position: fixed;
  top: 100px;
  z-index: 100;
  opacity: 0.9;
  margin: 15px 0px 15px 40px;
  display: flex;
  
}

.search-p {
  border: dashed 1px #eca219;
  background-color: #ffffff;
  border-radius: 2%/10%;
}

.search-box {
  
}

.search-box h4 {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

.search-box-sub {
  
}

.search-box-1 {
  display: flex;
  margin: 20px;
}

.search-text {
  margin-right: 5px;
  font-weight: bold;
  font-size: 12px;
}

.search-box-2 {
  margin-left: 20px;
}

.search-category-field {
  margin-left: 30px;
  border: solid 1px;
}

.search-input {
  border: solid 1px;
  border-color:  rgb(75, 72, 72);
  background-color: white;
  padding: 3px;
  height: 30px;
  width: 30vw;
}


.search-box-3 {
  margin: 20px;
  text-align: center;
}

.search-btn {
  width: 100%;
  height: 36px;
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  border: 0;
  border-style: none;
  border-radius: 3%/50%;
  background-color: #eca219;
}

.search-category {
  display: flex;
  list-style: none;
}