// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-user-submit {
  color: rgb(245, 245, 245);
  font-weight: 700;
  display: block;
  width: 50vw;
  height: 35px;
  background-color: #dd5404;
  border: 0;
  border-radius: 2%/50%;
  margin-left: 13px;
}

.user-edit-btn {
  color: rgb(245, 245, 245);
  font-weight: 700;
  display: block;
  width: 50vw;
  height: 35px;
  background-color: #dd5404;
  border: 0;
  border-radius: 2%/50%;
  margin-left: 13px;
}

.new-session-btn {
  color: rgb(245, 245, 245);
  font-weight: 700;
  display: block;
  width: 50vw;
  height: 35px;
  background-color: #dd5404;
  border: 0;
  border-radius: 2%/50%;
  margin-left: 13px;
}