<div class ="notification-p">
  <div class="notifications">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: key) %>
    <% end %>
  </div>
</div>

<script>
  $(function(){
    $(".alert").fadeOut(5000);
    $(".notice").fadeOut(5000);
    $(".error").fadeOut(5000);
  });
</script>